
article p {
    color: blue;
}
nav a {
    border: 2px solid green;
    margin-right: -2px;
    margin-left: -2px;
    color: black;
    background-color: #808080;
}
html {
    background-image: linear-gradient(270deg, lightblue, lightgreen, tomato);
    font-family: "MinecraftiaRegular"; 
}
header {
    text-align: center;
}

h2 {
    align-items: left;
}